<div class="navbar-zagora fixed-top <%= homepage? ? "navbar-zagora-transparent" : "navbar-zagora-filled" %>">
  <!-- displayed on laptops -->
  <div class="navbar-zagora-actions d-none d-sm-flex">
    <% link_to "/" do %>
      <h1><i class="fas fa-stroopwafel"></i></h1>
    <% end %>
  </div>
  <div class="navbar-zagora-actions d-none d-sm-flex">
    <a href="#" class="navbar-zagora-link">About us</a>
    <%= link_to "Tours", "/tours", class: "navbar-zagora-link" %>
    <%= link_to "Team", "/team", class: "navbar-zagora-link" %>
    <%= link_to "Contact", "/contact", class: "navbar-zagora-link" %>
  </div>

  <!--   displayed on smartphone -->
  <div class="navbar-zagora-actions d-block d-sm-none">
      <a href="#" class="icon-menu" data-expand="#main-menu">
        <span class="<%= homepage? ? 'white' : 'gray' %>"></span>
        <span class="<%= homepage? ? 'white' : 'gray' %>"></span>
        <span class="<%= homepage? ? 'white' : 'gray' %>"></span>
      </a>
  </div>

  <div class="navbar-zagora-actions">
    <% if homepage? %>
      <%= link_to "Let's talk", "/contact", class: "oval-button white" %>
    <% else %>
      <%= link_to "Let's talk", "/contact", class: "oval-button gray" %>
    <% end %>
  </div>

</div>

<%= partial 'pages/shared/menus/main_menu' %>
