<div class="container">

  <div class="itinerary">
    <div class="col-xs-12 col-md-6">
      <h4><%= selected_tour.title %> tour</h4>
      <p><%= selected_tour.description_first %></p>
      <p><%= selected_tour.description_second %></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="itinerary-card" style="background-image: url(<%= selected_tour.picture %>)">
      </div>
    </div>
  </div>

  <div>
    <% selected_tour.days.each_with_index do |day, index|%>
      <div class="day-title" data-toggle="collapse" data-target="#collapseDayDescription" aria-expanded="false" aria-controls="collapseDayDescription"> Day <%= index +1 %> / <%= day[0] %></div>
      <div class="collapse" id="collapseDayDescription">
        <div class="">
          <p><%= day[1] %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


